<p id="notice"><%= notice %></p>
<%= link_to "create new event", new_event_path %>
<h1>All Events</h1>
<% if !@events.nil? %>
	<ul>
		<% @events.each do |e| %>
		<li><%= link_to e.title, e %></li>
		<% end %>
	</ul>
<% else %>
  <p>
   No Events found
  </p>
<% end %>